<a href="https://colab.research.google.com/github/shareefat/folio/blob/main/advn_python_day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
class student:
  def __init__(self,name,age,grade):
    self.name=name
    self.age=age
    self.grade=grade
  def get_grade(self):
    return self.grade

In [14]:
obj=student("sha",22,"A+")

In [15]:
obj.get_grade()

In [23]:
class student:
  def method():
    print("class and object")
    print("the id of method is",id(self))

In [24]:
s1=student()
s2=student()
print("the id of object is",id(s1))
print("the id of object is",id(s2))

#the id will be different because each object is different

the id of object is 132718927570128
the id of object is 132718927571664

In [25]:
class student:
  def __init__(self,name,age,marks):
    self.name=name
    self.age=age
    self.marks=marks
  def get_marks(self):
    return self.marks

In [26]:
obj=student("shareef",22,95)

In [27]:
obj.get_marks()

95

In [34]:
class student:
  def __init__(self,regno,name,mark,sem =1):
    self.regno=regno
    self.name=name
    self.sem=sem
    self.mark=mark

In [35]:
s1=student(101,"shareef",95)
print("reg no  :",s1.regno)
print("name  :",s1.name)
print("sem  :",s1.sem)
print("mark   :",s1.mark)

reg no  : 101
name  : shareef
sem  : 1
mark   : 95

In [46]:
class emp:
  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.salary=salary
  def __str__(self):
    return f"name  : {self.name}, age:{self.age} salary:{self.salary}"

In [37]:
obj=emp("shareef",22,100000)

In [41]:
print(obj.name)
print(obj.age)
print(obj.salary)

shareef
22
100000

In [48]:
class measurement:
  def __init__(self,feet,inches):
    self.feet=feet
    self.inches=inches
  def __add__(self,other):
    feet=self.feet+other.feet
    inches=self.inches+other.inches
    if inches>=12:
      feet+=1
      inches-=12
    return measurement(feet,inches)

In [50]:
m1=measurement(5,8)
m2=measurement(4,10)
m=m1+m2
print(m.feet,m.inches)

10 6

In [60]:
class student:
  studcount=5            #class attribute
  def __init__(self,name):
    self.name=name

In [66]:
s1= student("shareef")
s2= student("nitha")

In [61]:
student.studcount

5

In [67]:
s1.studcount

5

In [68]:
s2.studcount

5

In [69]:
s1.studcount=20

In [70]:
s1.studcount

20

In [79]:
print("name is : ",s1.student)

AttributeError: 'student' object has no attribute 'student'