<a href="https://colab.research.google.com/github/shareefat/folio/blob/main/advn_python_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

match

In [ ]:
import re
sequence="shareef"
pattern="sh"
if re.match(pattern,sequence):
  print("this is starting with",pattern)
else:
  print("this is not starting with",pattern)

this is starting with sh

search

In [ ]:
import re
sequence="asmath nitha my wife"
pattern="wife"
if re.search (pattern,sequence):
  print("ichu's one and only",pattern)
else:
  print("not",pattern)

ichu's one and only wife

In [ ]:
#findall

import re
sequence="hai iam mohammed shareef iam vry good at editing"
res=re.findall("iam",sequence)
print(res)

['iam', 'iam']

In [ ]:
for i in res:
  print(i)

iam
iam

In [ ]:
seq ='shareef'
pat='ee'
res=re.fullmatch(pat,seq)
print(res)

None

In [5]:
#to print numbers
import re
sequence='sha123@303reef'
digits=re.findall('\d',sequence)
print(digits)

['1', '2', '3', '3', '0', '3']

In [6]:
#without numbers
import re
sequence='sha123@303reef'
d=re.findall('\D',sequence)
print(d)

['s', 'h', 'a', '@', 'r', 'e', 'e', 'f']

In [7]:
#print without specialcharacters
import re
sequence='sha123@303reef'
w=re.findall('\w',sequence)
print(w)

['s', 'h', 'a', '1', '2', '3', '3', '0', '3', 'r', 'e', 'e', 'f']

In [8]:
#to print special characters
import re
sequence='sha123@303reef'
W=re.findall('\W',sequence)
print(W)

['@']

In [10]:
#print the no of spaces
import re
sequence='sha1  23@     303r  eef'
space=re.findall('\s',sequence)
print(space)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [12]:

#print the characters without spaces
import re
sequence='sha  123@3   03re  ef'
non_space=re.findall('\S',sequence)
print(non_space)

['s', 'h', 'a', '1', '2', '3', '@', '3', '0', '3', 'r', 'e', 'e', 'f']

In [15]:
import re
seq='FMVPA2740H'
res= re.findall('[A-Za-z]',seq)
print(res)

['F', 'M', 'V', 'P', 'A', 'H']

In [23]:
seq='the largest ocean is pecific with 23400sqkm'
for i in re.finditer('\d+',seq):
  print(i)

<re.Match object; span=(34, 39), match='23400'>

In [21]:
import re
res = re.findall('\d',seq)
res

['2', '3', '4', '0', '0']

In [31]:
#to check phone number is valid or not

phone=["7446767092","755906","6235767"]
pattern='^[6-9]\d{9}$'
for i in phone:
  if re.findall(pattern,i):
    print(i,"is valid")
  else:
    print(i,"is invalide")

7446767092 is valid
755906 is invalide
6235767 is invalide

In [50]:
pancards =["FMVPA2750H","WBCA2546D"]
pat = '^[A-Z]{5}\d{4}$[A-Z]$'
for pan in pancards:
     if re.findall(pat,pan):
        print(pan)

In [45]:
pancards =["AMVPA2750H","WBCA2546D","GWREA1234H"]
pat = "^A|G{1}[A-Z]{4}\d{4}[A-Z]$"
for pan in pancards:
    if re.findall(pat,pan):
       print(pan)

AMVPA2750H
GWREA1234H

In [52]:
#re.sub
karnataka="bangalore is the capital of karnataka.bangalore is called garden city"
res=re.sub('bangalore','bengaluru',karnataka)
print(res)

bengaluru is the capital of karnataka.bengaluru is called garden city

In [53]:
seq="MYsore is the city of lights.Mysore is a clean city"
res=re.sub('city','town',seq)
print(res)

MYsore is the town of lights.Mysore is a clean town

In [56]:
#compile
import re
seq ="cost of apple is 200 and selling price is 250 "
pat =re.compile('\d+')
res =pat.findall(seq)
print(res)

['200', '250']

In [7]:
class student:
  def get_details(self):
    id=1
    name="shareef"
    print("id is :",id)
    print("name is :",name)

In [8]:
obj = student()
obj.get_details()

id is : 1
name is : shareef