<a href="https://colab.research.google.com/github/shareefat/folio/blob/main/PYTHON_DAY_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#scope of the variable

2 types:
#1.local variable
#2.global variable

1. local variale

the value only change in inside

In [2]:
def class1():
  student=40
  return student

In [14]:
student=70

In [15]:
class1()

40

In [16]:
student

70

2.global variable
the value will change in both inside and outside

In [9]:
def class2():
  global student
  student=50
  return student

In [10]:
class2()

50

In [11]:
student=70

In [12]:
class2()

50

In [13]:
student

50

In [35]:
def abc():
   global X
   X=10
   return X

In [39]:
X=20

In [40]:
abc()

10

In [41]:
X

10

In [31]:
def xyz():
  y=20
  return y

In [42]:
y=30

In [43]:
xyz()

20

In [44]:
y

30

In [ ]:
#list comprehension

generate a list of squared number x=[1,2,3,4,5,6,7,8,9,10]

In [58]:
x=[1,2,3,4,5,6,7,8,9,10]
y=[]
for i in x:
  y.append(i**2)
  print(y)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

find the square of even number in x

In [82]:

x=[1,2,3,4,5,6,7,8,9,10]
y=[]
for i in x:
  if i%2==0:
    y.append(i**2)
print(y)

[4, 16, 36, 64, 100]

In [83]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13]

squaring number without using def function

In [86]:
squared_numbers =[i**2  for i in x]
squared_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [87]:
even_squared_numbers =[i**2 for i in x if i%2==0]
even_squared_numbers

[4, 16, 36, 64, 100, 144]

In [92]:
z=[]
for i in x:
  if i%2==0:
    z.append(i**2)
else:
      z.append(i**3)
      print(z)

[4, 16, 36, 64, 100, 144, 2197]

q) extract the first letter from the list

In [97]:
x=["apple","banana","cherry","date"]
first_letters=[i[0] for i in x]
first_letters

['a', 'b', 'c', 'd']

q) create a list of number from 1 to 20 using list comprehension

In [96]:
list_of_numbers=[i for i in range(1,21)]
list_of_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

q) create a list of number from 1 to 20 that contain only odd numbers using list comprehension

In [98]:
n=[i for i in range(1,21) if i%2!=0]
n

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

q) find the square of evennumber in x

In [107]:
x=[1,2,3,4,5,6,7,8,9,10]
even_squared_numbers =[abc**2 for abc in x if abc%2==0]
even_squared_numbers

[4, 16, 36, 64, 100]

q) create a list of numbers that contain cube od odd number starting from 10 to 20

#first namala need
#second range
#third condition

In [114]:
a=[i**3 for i in range(10,21) if i%2!=0]
a

[1331, 2197, 3375, 4913, 6859]

2 conditions

In [117]:
x=[i**2 if i%2==0 else i**3 for i in x ]
x

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

q) create a list of numbers from 1 to 20 thatare divisibleby 3

In [118]:
s=[i for i in range(1,21) if i%2==0]
s

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

create a list that assigns 'pass' if score is 50 or higher and 'fail' if the score is below 50


scores=[45,67,32,89,50,23,78]

In [125]:
m=[45,67,32,89,50,23,78]
pass_fail=['pass' if i>=50 else 'fail' for i in m]
pass_fail

['fail', 'pass', 'fail', 'pass', 'pass', 'fail', 'pass']

q) create a list that assign 'positive' for number greater than or equl to 0,'negative' for number less than 0
numbers =[5,3,0,-2,7,0,-8]

In [126]:
n=[5,3,0,-2,7,0,-8]
positive_negative=['positive' if i>=0 else 'negative' for i in n]
positive_negative

['positive',
 'positive',
 'positive',
 'negative',
 'positive',
 'positive',
 'negative']

q) how do you create a for loop that calculate the sum of the numbers in a list

In [129]:
a=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in a:
  sum=sum+i
print(sum)

55

q) how do you create a for loop that prints a multiplication table for a given number

In [131]:
x=7
for i in range(1,11):
  print(x*i)

7
14
21
28
35
42
49
56
63
70

another

In [134]:
y=5
for i in range(1,11):
  print(f'{y} * {i} ={y*i}')

5 * 1 =5
5 * 2 =10
5 * 3 =15
5 * 4 =20
5 * 5 =25
5 * 6 =30
5 * 7 =35
5 * 8 =40
5 * 9 =45
5 * 10 =50